Package: org.thebigboss.camrotate
Name: CamRotate
Depends: mobilesubstrate, preferenceloader, firmware (>= 5.0), gsc.still-camera | gsc.front-facing-camera
Version: 1.1
Architecture: iphoneos-arm
Description: rotate camera interface in the way you like.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CamRotateSettings.bundle/CamRotate@2x.png
