<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>CamRotate</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>CamRotate.png</string>
      <key>label</key>
      <string>CamRotate</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.CamRotate</string>
        <key>key</key>
        <string>CamRotateEnabled</string>
        <key>label</key>
        <string>Enabled</string>
        <key>PostNotification</key>
        <string>com.PS.CamRotate.settingschanged</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.CamRotate</string>
        <key>key</key>
        <string>CamRotateLock</string>
        <key>label</key>
        <string>Lock Orientation</string>
        <key>PostNotification</key>
        <string>com.PS.CamRotate.settingschanged</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>Portrait</string>
			<key>defaults</key>
			<string>com.PS.CamRotate</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>OrientationValue</string>
			<key>label</key>
			<string>Orientation</string>
			<key>PostNotification</key>
        	<string>com.PS.CamRotate.settingschanged</string>
			<key>validTitles</key>
			<array>
				<string>Portrait</string>
				<string>Portrait Upside Down</string>
				<string>Landscape Left</string>
				<string>Landscape Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.CamRotate</string>
        <key>key</key>
        <string>SyncOrientation</string>
        <key>label</key>
        <string>Sync Orientation</string>
        <key>PostNotification</key>
        <string>com.PS.CamRotate.settingschanged</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.PS.CamRotate</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>RotationStyle</string>
			<key>id</key>
			<string>RotationStyle</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>Rotation Style</string>
			<key>PostNotification</key>
        	<string>com.PS.CamRotate.settingschanged</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>iPad-like (For iOS 6)</string>
				<string>Video-like (For iOS 7)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Allow rotation when recording video</string>
        </dict>
        <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.CamRotate</string>
        <key>key</key>
        <string>UnlockVideoUI</string>
        <key>label</key>
        <string>Enabled</string>
        <key>PostNotification</key>
        <string>com.PS.CamRotate.settingschanged</string>
      </dict>
		<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
		<key>id</key>
		<string>Description</string>
        <key>footerText</key>
        <string>• Lock Orientation - Disallow orientation changing in camera.
        
• Sync Orientation - Sync camera orientation with system. (By default, even you lock orientation in iDevice, camera still can rotate itself, this one fix that issue.)

• Rotation Style (iOS 6+)
1. Default - Camera-default. (UIs in camera view will fading when they change orientation)
2. iPad-like - iOS 6, UIs in camera view will rotate around the middle of screen correspond with camera orientation.
3. Video-like - iOS 7+, Camera's Top Bar will rotate just like how the video mode does. (rotate around screen)

• Allow rotation when recording video - Prevent camera from orientation fixed while recording video.</string>
      </dict>
       <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>© 2013 - 2014 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
	